<!doctype html>

<html lang="en">
	<html lang="en">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">>
					<meta name="author" content="mark">
		<style>
    
    .header {
             background: tomato;
            } 
    .bar{
        background-image: url(/static/fixtures/dbikes1.jpg);
        background-size: cover;
        height: 380px;
        opacity: 0.3;
    }
    h2.ontop{
        position: relative;
        text-align: center;
        top: 4.7em;
        font-weight: bolder;
        font-size: 50px;
        
    }

    img.ontop2{
        position:relative;
        text-align: center;
        top: 6.7em;   
    }
    .howparent1{
        border: solid black;
        width: 50%;
        display:inline-flex;
        flex-direction: column;
        padding-top:10px;
        padding-bottom:10px;
        justify-content: space-around;
    }
    .howparent1a {
        border: solid black;
        width:50%;
        display: inline-flex;
        flex-direction: column;

    }
    .howchild1{
        display:flex;
        width: 100%;
        height: 200px;
        background: red;
        flex-direction: column;
        text-align: center;
    }
    .howchild2{
        width: 50%;
        height: 200px;
        background:blue;

    }
    .howchild3{
        width: 50%;
        height: 200px;
        background: green;

    }
    .howchild4{
        width: 50%;
        height: 200px;
        background:yellow;

    }
    .howchild5{
        width: 50%;
        height: 200px;
        background:grey;

    }

    div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  background-color: #ff9e2c;
  flex: 1;
  padding: 1rem;
  text-align: center;
}

.right-half {
  background-color: #b6701e;
  flex: 1;
  padding: 1rem;
}


		</style>
	
		</head>

	<body>
        <div class ="wrapper">
            <header class="header"> Header </header>
            
            <!-- <h2 class='ontop'>How It Works</h2> -->
            <div class="bar">
            <!-- <img class='ontop2' src="/static/fixtures/dblogo1.png" alt="sub1" style="width:200px; height: 150px;">   -->
            </div>

            <div class="containerA">
                <div class="jumbotron jumbotron-fluid" style="background: #333;">

                </div>

            </div>

            <div class='title'>
            <h1 style="text-align: center;">Rent a Bike</h1>
            </div>

            <section class='container'>
                
                <div class='left-half'>
                    <article>

                        <h1> Open App </h1>
                        <h3> The DublinBikes App is available for download on all iOS and Android devices.
                            Once downloaded, users of the App will be able to sign up for short-term subscription packages,
                            and explore available bike services/stations, helping you on your commute around the city!
                        </h3>

                    </article>
                </div>

                <div class='right-half' style="background: transparent;">
                    <article>
                        <h1> Pic </h1>
                        <h3> 
                        </h3>
                    </article>
                </div>
            </section>
            <section class='container'>
                <div class='left-half'>
                    <article>

                        <h1> Pic </h1>
                       

                    </article>
                </div>

                <div class='right-half'>
                    <article>
                        <h1> Find a station </h1>
                        <h3> The DublinBikes App is available for download on all iOS and Android devices.
                            Once downloaded, users of the App will be able to sign up for short-term subscription packages,
                            and explore available bike services/stations, helping you on your commute around the city!
                        </h3>
                    </article>
                </div>
            </section>
            <section class='container'>
                <div class='left-half'>
                    <article>

                        <h1> Select & Release </h1>
                        <h3> There are 2 ways of choosing and releasing a bike. You can release a bike at a station terminal. 
                            Select a bike from the terminal screen and release it by pressing the button on the bike stand as directed.
                            Alternatively, you can do this via the dublinbikes App. Once release via the app, you then have 60 seconds to release the bike chosen by pressing the button on the bike stand.
                        </h3>

                    </article>
                </div>

                <div class='right-half'>
                    <article>
                        <h1> Pic </h1>
                
                    </article>
                </div>
            </section>
            <section class='container'>
                <div class='left-half'>
                    <article>

                        <h1> Pic </h1>
                        

                    </article>
                </div>

                <div class='right-half'>
                    <article>
                        <h1> Limited Availabilty </h1>
                        <h3> If the station you are looking at has no avaible bikes,
                            You can view nearby stations and the number of available bikes at each station on the dublinbikes App or at a station terminal.
                        </h3>
                    </article>
                </div>
            </section>
            <section class='container'>
                <div class='left-half'>
                    <article>

                        <h1> Make Predictions </h1>
                        <h3> The DublinBikes App is available for download on all iOS and Android devices.
                            Once downloaded, users of the App will be able to sign up for short-term subscription packages,
                            and explore available bike services/stations, helping you on your commute around the city!
                        </h3>

                    </article>
                </div>

                <div class='right-half'>
                    <article>
                        <h1> Pic </h1>

                    </article>
                </div>
            </section>


            <!-- <article class="main1">
                <h1 style="text-align: center;">Rent a Bike</h1>
                <div class="howparent1">
                
                    <div class="howchild1">
                        <h1> Open App </h1>
                        <h3> The DublinBikes App is available for download on all iOS and Android devices.
                            Once downloaded, users of the App will be able to sign up for short-term subscription packages,
                            and explore available bike services/stations, helping you on your commute around the city!
                        </h3>

                    </div>
                    <div class="howchild2">
                        
                    </div>
                    <div class="howchild3">
                        <h1> Select & Release </h1>
                        
                    </div>
                    <div class="howchild4">
                        
                    </div>
                    <div class="howchild5">
                        <h1> Make Predictions </h1>
                        
                    </div>
                </div>

                <div class="howparent1a">
                
                    <div class="howchild1a">
                        <h1> Open App </h1>
                        <h3> The DublinBikes App is available for download on all iOS and Android devices.
                            Once downloaded, users of the App will be able to sign up for short-term subscription packages,
                            and explore available bike services/stations, helping you on your commute around the city!
                        </h3>

                    </div>
                    <div class="howchild2a">
                        
                    </div>
                    <div class="howchild3a">
                        <h1> Select & Release </h1>
                        
                    </div>
                    <div class="howchild4a">
                        
                    </div>
                    <div class="howchild5a">
                        <h1> Make Predictions </h1>
                        
                    </div>
                </div>

            </article>

            <article class="main3"> -->
                <!-- <h2></h2>
                <div class='parent2'>
                    <h1>Our Subscriptions</h1>
                    <div class = 'sub1'>
                        <img src="/static/fixtures/bikenew1.jpg" alt="sub1" style="width:200px; height: 150px;">
                        <hgroup>
                            <h2> Subscription 1</h2>
                            <h3> 3 Day Pass</h3>
                        </hgroup>
                        <p>For short term hire, a 3 Day Ticket will give you access to all the benefits of the NOW TV dublinbikes service. 
                            Ideal for tourists and visitors as a way of getting around and exploring the city. The first 30 minutes of each journey is free.
                             After this rental charges are applied.</p>
                        </div>
                        
                    <div class = 'sub2'>
                        <img src="/static/fixtures/cyclists2.jpg" alt="sub2" style="width:200px;">
                        <hgroup>
                            <h2> Subscription 2</h2>
                            <h3> Annual Pass</h3>
                        </hgroup>
                        <p>With an Annual Subscription you can rent a bike 365 days a year for an annual fee of € 35.
                             The first 30 minutes of each journey is free, after this rental charges apply.<br><br><br><br><br></p>
                    </div>

                    <div class = 'sub3'>

                    <img src="/static/fixtures/cyclists3.jpg" alt="sub3" style="width:200px;">
                    <hgroup>
                        <h2> Subscription 3</h2>
                        <h3> DublinBikes Per Hour</h3>
                    </hgroup>
                    <p>Dublin BIkes are available to rent by the hour. Bikes can be collected and return to any station with a empty space. 
                        This service option is independent of your annual subscription and will charge users 1 euro per hour.<br><br><br><br></p></div>

                    </div>
                </div>

            </article>

            <article class="main4">
                <h2></h2>
                <div class='parent' style='background-color: black'>
                    <h1 style="text-align: center;">Meet the Team!</h1>
                    <div class = 'child1'hover>  <p>Mark</p>
                        <img src="/static/fixtures/mark4.jpg" alt="Mark" style="width:200px; border-radius: 50%;">
                        <p>Hola! Me llamo Alavaro y soy de Madrid! I am currently working as as the CEO of Dublin bikes, leading a team of dzopeess here @Dublinbikes. I love flask and software engineering.
                            Hovering over an employee's individual circle produces a zoomed-in effect, and clicking expands their headshot 
                            with their name and social profiles. The splashy set up is a stylish alternative to the expected rows of team photos and names.</p></div>
                        
                    <div class = 'child2'><p>Ellie</p>
                        <img src="/static/fixtures/ellie.jpg" alt="Ellie" style="width:200px; border-radius: 50%;">
                        <p>Bones Bones Bones! I love everything bones. I have X-ray vision and love radiography! I am using my x-ray vision to identify new trends and insights here @Dublin Bikes.
                            Hovering over an employee's individual circle produces a zoomed-in effect, and clicking expands their headshot 
                            with their name and social profiles. The splashy set up is a stylish alternative to the expected rows of team photos and names.<br><br></p>
                    </div>
                    <div class = 'child3'><p>Alvaro</p><img src="/static/fixtures/alvaro.jpg" alt="Alvaro" style="width:200px; border-radius: 50%;">
                        <p>Hola! Me llamo Alavaro y soy de Madrid! I am currently working as as the CEO of Dublin bikes, leading a team of dzopeess here @Dublinbikes. I love flask and software engineering.
                            Hovering over an employee's individual circle produces a zoomed-in effect, and clicking expands their headshot 
                            with their name and social profiles. The splashy set up is a stylish alternative to the expected rows of team photos and names.</p></div>
                    </div>
                </div>

            </article>

            <article class="main5">
                <h2></h2>
                <div class='parent1'>
                    <h1 style="text-align: center;">Socials!</h1>
                    <div class = 'child4'> <a href="https://www.instagram.com/?hl=en" target="_blank"> 
                        <img src="/static/fixtures/instagram black.png" alt="insta" style="width:100px;"></a>
                        </div>
                        
                    <div class = 'child5'>
                        <a href="https://www.twitter.com/?hl=en" target="_blank"><img src="/static/fixtures/blacktwitter.png" alt="twitter" style="width:100px;"></a>
                    </div>
                    <div class = 'child6'><a href="https://www.facebook.com/" target="_blank">
                        <img src="/static/fixtures/blackfacebook.png" alt="fb" style="width:100px;"></a>
                     </div>
                    </div>
                </div>

            </article> -->



        </div>


		  
	</body>
</html>