/*About*/

.site-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007398;
  letter-spacing: 5px;
}

.content-area {
  width: 65%;
  padding: 5vh 10vh 10vh 10vh;
  box-shadow: 0 10px 10px rgba(0, 115, 152, 0.2),
    0px 25px 25px rgba(0, 115, 152, 0.2);
  margin-bottom: 10vh;
}

.entry-content h2 {
  font-size: 20px;
  padding: 10px 0px;
}

.entry-content p {
  padding: 10px 0px;
  font-size: 15px;
}

.entry-content li {
  padding: 3px 0px;
  font-size: 15px;
}

.entry-content a {
  font-size: 15px;
  color: #007398;
}
